			<div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header"> Diachronic'Explorer Dashboard</h1>
	            </div>
	        </div>
	    
	<div class="row">
		  <div class="col-lg-3 col-md-6">
					<div class="panel panel-yellow">
		                <div class="panel-heading">
		                    <div class="row">
		                            <div class="huge">Diachronic' 
                                    Explorer</div>
		                    </div>

		                </div>
                            <ul>
                            	<li>Documents automatically clustered in thematics;
                            	<li>Keywords automatically extracted from these thematics;
                            	<li>Time-evolving thematics tracking : monitor evolution of a research field.
                            </ul>
		                <div class="panel-footer">
		                    <span class="pull-left"></span>
		                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                    <div class="clearfix"></div>
		                </div>

					</div>
				</div>
		<div class="col-lg-6">
	        <div class="panel panel-green">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> ISTEX: Excellence Initiative of Scientific and Technical Information 
                        </div>Diachronic'Explorer is a project funded by ISTEX which aims to allow to explore ISTEX publication datasets.
                        	<a href='www.istex.fr'><img src="image/f90ac13c-187f-48d7-a675-8fd9f908ead9.jpg"></a>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
		</div>
	</div>
	    <div class="row">
		      
				<div class="col-lg-3 col-md-6">
	                <div class="panel panel-primary">
	                    <div class="panel-heading">
	                        <div class="row">
	                            <div class="col-xs-3">
	                                <i class="fa fa-tasks fa-5x"></i>
	                            </div>
	                            <div class="col-xs-9 text-right">
	                                &nbsp;
	                            </div>
	                        </div>
	                    </div>
	                        <div class="panel-footer">
	                            <center>
                                <img width="100px" src="image/logo_cnrs.jpg"></center>
	                            <div class="clearfix"></div>
	                        </div>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
				<center>
                                <<img src="image/Label-IA-mini.jpg"></center>
                                <div class="clearfix"></div>
				
                            </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
                                <center>
<img src="image/loria.png" height="95px"> 
</center>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
	        </div>

