<html>
	<head>
	<title>Diachronic' Explorer</title>
	<% include header.ejs %>
	<style>
			circle {
			  fill: rgb(31, 119, 180);
			  fill-opacity: .25;
			  stroke: rgb(31, 119, 180);
			  stroke-width: 1px;
			}

			.leaf circle {
			  fill: #ff7f0e;
			  fill-opacity: 1;
			}

			text {
			  font: 32px sans-serif;
			}
		</style>
	</head>

<body>
	<div id="wrapper">
		<% include navbar.ejs %>
		<div id="page-wrapper">
			<div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header">Clusters matchings</h1>
	            </div>
	        </div>
	        <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Cluster 1 and 2 matching
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        	<center>
                        		<%- objectResult %>
                        	</center>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>
            <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Cluster 1 and 6 matching
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        	<center>
                        		<%- objectResult %>
                        	</center>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>
            
		</div>
	</div>
	<% include footer.ejs %>


</body>
</html>