	<div class="panel panel-default">
	    <div class="panel-heading">
	        <center><i class="fa fa-bar-chart-o fa-fw">Copyright</i></center>
	        
	    </div>
	    <center>
		Designed by <a href='https://github.com/nicolasdugue'>Nicolas Dugué</a> -
		Source code can be found on <a href='https://github.com/nicolasdugue/istex-demonstrateur'>GitHub</a> - 
		Diachronic'explorer is part of the <a href='http://www.istex.fr/'>ISTEX</a> project</center>
                      
   	</div>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    
    

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu.min.js"></script>