<html>
	<head>
	<title>Diachronic' Explorer</title>

	<% include header.ejs %>

	<!-- Bipartite graph for diachrony !-->
	<style>
			.SrcList {
			  fill: rgb(31, 119, 180);
			  fill-opacity: .10;
			  stroke: rgb(31, 119, 180);
			  stroke-width: 1px;
			}

			.blueOfSrcList {
				color : rgb(31, 119, 180);
			}

			.TargetList {
			   fill: #ff7f0e;
			  fill-opacity: 0.2;
			  stroke: rgb(31, 119, 180);
			  stroke-width: 1px;
			}

			.orangeOfTargetList {
				color :#ff7f0e;
			}

			.ClusterSource {
				 stroke: rgb(31, 119, 180);
			  stroke-width: 1px;
			  fill: rgb(31, 119, 180);
			  fill-opacity: .25;
			}

			.ClusterTarget {
				 stroke: rgb(31, 119, 180);
			  stroke-width: 1px;
			  fill: #ff7f0e;
			  fill-opacity: 0.8;
			}


			text {
			  font: 10px sans-serif;

			}
		</style>
	<!-- Embedded circles for cluster matchings !-->
	<style>
			/* Colore aussi les cercles de la timeline donc utiliser les noms des classes plutot !
			*/
			circle {
			  fill: rgb(31, 119, 180);
			  fill-opacity: .25;
			  stroke: rgb(31, 119, 180);
			  stroke-width: 1px;
			}

			.leaf circle {
			  fill: #ff7f0e;
			  fill-opacity: 1;
			}
			/* Trop gros pour Marimekko donc utiliser le nom des classes plutot !
			*/
			/*text {
			  font: 32px sans-serif;
			}*/
		</style>

	<!-- Sankey !-->
	<style>
			.node rect {
			  /*cursor: move;*/
			  fill-opacity: .9;
			  shape-rendering: crispEdges;
			}

			.node text {
			  pointer-events: none;
			  text-shadow: 0 1px 0 #fff;
			}

			.link {
			  fill: none;
			  stroke: #000;
			  stroke-opacity: .3;
			}
			.spec {
			  fill: none;
			  stroke: #000;
			  stroke-opacity: .3;
			  stroke-dasharray :20,5,20,5;
			}
			.spec:hover {
			  fill: none;
			  stroke: #000;
			  stroke-opacity: .6;
			  stroke-dasharray :20,5,20,5;
			}

			.link:hover {
			  stroke-opacity: .6;
			}
		</style>

		
	
	</head>

<body>
	<div id="wrapper">
		<% include navbar.ejs %>
		<div id="page-wrapper">
			<% 
			if (page == "accueil") {
			%>
			<% include accueil.ejs %>
			<%
			} 
			else if (page=="embeddedCircle") {
			%>
			<% include embeddedCircle.ejs %>
			<%
			}
			else if (page=="istex") {
			%>
			<% include istex.ejs %>
			<%
			} 
			else if (page=="marimekko") {
			%>
			<% include marimekko.ejs %>
			<%
			} 
			else if (page=="timeline") {
			%>
			<% include timeline.ejs %>
			<%
			} 
			else if (page=="bipartite") {
			%>
			<% include bipartite.ejs %>
			<%
			}
			else if (page=="barchart") {
			%>
			<% include barchart.ejs %>
			<%
			}
			else if (page=="upload") {
			%>
			<% include upload.ejs %>
			<%
			}
			else if (page=="clusterbarchart") {
			%>
			<% include clusterbarchart.ejs %>
			<%
			}
			else if (page=="clusterstat") {
			%>
			<% include clusterstat.ejs %>
			<%
			}
			else if (page=="sankey") {
			%>
			<% include sankey.ejs %>
			<%
			}
			else {
			%>
			<% include accueil.ejs %>
			<%
			}
				
			%>
		</div>
	</div>
	<% include footer.ejs %>
</body>
</html>