
			<div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header"> Diachronic clustering</h1>
	            </div>
	        </div>
	        <div class="row">
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            <i class="fa fa-bar-chart-o fa-fw"></i> Global Sankey visualization
	                            
	                            <div class="pull-right">
	                                <div class="btn-group">
	                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
	                                        Select number of label in cluster name
	                                        <span class="caret"></span>
	                                    </button>
	                                    <ul class="dropdown-menu pull-right" role="menu">
	                                        <li><a href="/sankey?nbLabel=1"> 1</a>
	                                        <li><a href="/sankey?nbLabel=2"> 2</a>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                        		<%- objectResult.svgsrc %>
	                        <!-- /.panel-heading -->
	                        <div class="panel-body">
	                            <div id="morris-area-chart"></div>
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
                </div>

                
            </div>

    <script type="text/javascript">
			
			function mouseClick() {
				var rect = d3.select(this);
				location.href="/istexDoc?period="+rect.attr("period")+"&cluster="+rect.attr("cluster");
			};
			var rects = d3.selectAll("rect");
			rects.on("click", mouseClick);
			rects.on("mouseover", function() { d3.select(this).style("cursor", 'pointer');});

		</script>