<html>
	<head>
		<script src="libjs/d3.min.js"></script>
		
		
	</head>

<body>

	<%- objectResult %>

	<script type="text/javascript">
			function mouseover(p) {
				var g = d3.select(this).node().parentNode;
				d3.select(g).selectAll("circle").style("display","none");
				d3.select(g).selectAll("text.value").style("display","block");
			};

			function mouseout(p) {
				var g = d3.select(this).node().parentNode;
				d3.select(g).selectAll("circle").style("display","block");
				d3.select(g).selectAll("text.value").style("display","none");
			};

			var g = d3.selectAll(".label");
			g.on("mouseover", mouseover)
			.on("mouseout", mouseout);
		</script>


</body>
</html>