<html>
<head>
	<title>ToDo List</title>

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<%
	
%>

	<ul>
	<% objectResult.mongodb.forEach(function(item) { %>
		<li> <a href='/todo/supprimer/<%= item._id%>'><%= item.todo %></a>
	<% }); %>
	</ul>
	<form action='/todo/ajouter/' method='post'>
		<input type='text' name='newtodo'/>
		<input type='submit' value="submit" /> 
	</form>
</body>
</html>